%h2 Cuando es el ultimo dia para presentar el IVA?
%p
  %h3 Una alternativa express.
  %br
  Menu de acciones:
  %ul
    %li
      %a{href: '/mostrar_fechas'}
        Ver fechas de vencimiento
    %li
      %a{href: '/credit_card'}
        Quiero que me manden un correo avisandome del ultimo dia.
